//-- chat.jade ~ Copyright 2015 Paul Beaudet
extends ./header.jade

block content
    span#hostID.hidden #{present}
    span#room.hidden #{room}
    #topnav.navbar.navbar-inverse.navbar-static-top
        .container
            .navbar-header
                button.navbar-toggle.text-info(type= "button", data-toggle= "collapse", data-target= ".navbar-collapse")
                    span.glyphicon.glyphicon-menu-hamburger
                - var path = '/'
                if room
                    - path = path + room
                a.navbar-brand#brand(href=path) Yibble#{path}
            .navbar-collapse.collapse
                ul.nav.navbar-nav.navbar-right
                    li
                        a#active #{active}
                    li
                        a#account #{account}
                    li
                        a#rename rename
                    li
                        a#speedToggle show speed
    .container#allViews
        ul
            li.view.chat
                #msgRow.row.text-center
                    .col-xs-12
                        span#status.text-success waiting for matches...
                        span#tCount &nbsp;
                        button#sysBTN.btn.btn-md.btn-success Cancel
                #history
                .row.text-center.text-success
                    h1#speedo
                        span#wpm 0
                        span :WPM
                include textInput.jade
            li.view.mono
                h3.row.text-center No lectures here, feel free to butt in!
                .row.text-center
                    button#resume.btn.btn-success back to chatting
            li.view.name
                #signup.jumbotron
                    h1 Beta: any name you want is fine, like, "Inigo_Montoya"
                    form(method='post')
                        input(type='hidden', name="_csrf", value=csrfToken)
                        .form-group
                            label(for='usr') Name (only requirment to continue)
                            input.form-control(type='text' maxlength='15', name='name', required='true')
                        .form-group
                            label(for='signupPassword')  Password (optional, test paid features)
                            input.form-control(type='password', name='password')
                        if err
                            p Taken name or wrong password, TO THE ABYSS! WOOSH! error= #{err}
                        input#submit.btn.btn-lg.btn-success(type='submit', value='Ready to chat!')
                i QUICK DISCLAIMER: This appliaction is in early testing phases. The application is provided "AS IS", without warrenty of any kind, express or implied, including but not limited to the warrenties of merchantability, fitness for a a particular purpose and noninfringement. In no event shall the author be liable for any claim, damages or other liability, whether in action of of contract, tort or otherwise, arising from, out of or in connection with the application or the use or other dealings in the application. Use of the application constitues acceptence of these terms. Disclaimers for sue happy society being said, the author appriciates any feedback on the merchantability of application and will take your feedback at either yibble.herokuapp.com/paulbeaudet or inof8or@gmail.com 
    // Javescript dependencies
    script(src='https://code.jquery.com/jquery-2.2.4.min.js' 
           integrity='sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44='
           crossorigin="anonymous")
    script(src='js/socketio145.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'
           integrity='sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS'
           crossorigin="anonymous")
    script(type='text/javascript', src='js/client.js')
