//-- chat.jade ~ Copyright 2015 Paul Beaudet
extends ./header.jade

block content
    span#hostID.hidden #{present}
    span#room.hidden #{room}
    #topnav.navbar.navbar-inverse.navbar-static-top
        .container
            .navbar-header
                button.navbar-toggle.text-info(type= "button", data-toggle= "collapse", data-target= ".navbar-collapse")
                    span.glyphicon.glyphicon-menu-hamburger
                a.navbar-brand#brand(href='/'+room) randochat/#{room}
            .navbar-collapse.collapse
                ul.nav.navbar-nav.navbar-right
                    li
                        a#active #{active}
                    li
                        a#account #{account}
                    li
                        a#rename rename
                    li
                        a#speedToggle show speed
    .container#allViews
        ul
            li.view.chat
                #msgRow.row.text-center
                    .col-xs-12
                        span#status.text-success waiting for matches...
                        span &nbsp;
                        button#sysBTN.btn.btn-md.btn-success Cancel
                #history
                h1#wpm.row.text-center.text-success
                include textInput.jade
            li.view.mono
                h3.row.text-center No lectures here, feel free to butt in!
                .row.text-center
                    button#resume.btn.btn-success back to chatting
            li.view.name
                #signup.jumbotron
                    h1 What is your NAME?*
                    form(method='post')
                        input(type='hidden', name="_csrf", value=csrfToken)
                        .form-group
                            label(for='usr') NAME, (only requirment to continue)
                            input.form-control(type='text', name='name', required='true')
                        .form-group
                            label(for='signupPassword')  Password (optional, with account)
                            input.form-control(type='password', name='password')
                        if err
                            p Taken name or wrong password, TO THE ABYSS! WOOSH! error= #{err}
                        input#submit.btn.btn-lg.btn-success(type='submit', value='Ready to chat!')
                i *subject to ask for favorite color and quest at later date
    // Javescript dependencies
    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src='bower_components/socket.io-1.4.5/index.js')
    script(src='bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(type='text/javascript', src='client.js')
